include CHANGELOG
include LICENSE
include README.rst
recursive-include examples *.txt
recursive-include doc *.tex *.bib *.pdf *.md *.png *.svg
recursive-include docs *.py *.md *.txt *.rst *.bib *.gif *.jpg *.png
recursive-include tests *.py *.md
recursive-include pycorrfit LICENCE README
prune docs/_build
exclude docs/_version_save.py
