include doc/*.tex
include doc/*.bib
include doc/*.pdf
include doc/*.md
include doc/Images/*
include examples/external_model_functions/*.txt
include README.md
include ChangeLog.txt
include pycorrfit/readfiles/read_pt3_scripts/*.py
include pycorrfit/readfiles/read_pt3_scripts/*.pyx
include pycorrfit/readfiles/read_pt3_scripts/LICENSE
include tests/*.py